nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 1em .5em;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
}

nav .nav-active {
    font-weight: bolder;
}

hr {
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

.form {
    display: flex;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 80%;
}

.welcome-home {
    width: 80%;
    margin: auto;
}

.welcome-home p {
    text-align: justify;
}
